@use './reset.scss';

#app {
  height: 100vh;
  width: 100vw;
}

/* 设置滚动条的整体样式 */
::-webkit-scrollbar {
  width: 5px; /* 垂直滚动条的宽度 */
  height: 12px; /* 水平滚动条的高度 */
}

/* 设置滚动条的轨道（背景） */
::-webkit-scrollbar-track {
  background: transparent; /* 轨道背景颜色 */
  border-radius: 10px; /* 圆角 */
}

/* 设置滚动条的滑块（拖动条） */
::-webkit-scrollbar-thumb {
  background: #888; /* 滑块颜色 */
  border-radius: 10px; /* 圆角 */
}

/* 设置滑块在悬停时的样式 */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* 悬停时的颜色 */
}
