body,
html {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: top;
}

button {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
  resize: none;
}
